/* Add CSS Styling
- **The first element**: a black background and white text
- **The second element**: a yellow background
- **Both elements**: 
a font size of 28px and 
a list of fonts containing `Helvetica` and `Times New Roman`, with `sans-serif` as a fallback
 */
.first,
.second {
    font-size: 28px;
    font-family: Helvetica,"Times New Roman","sans-serif";
}
 .first {
    background-color: #000;
    color: rgb(255, 255, 255);
 }

 .second {
    background-color: hsl(60, 100%, 50%);
 }

