/* Add CSS Styling 
* Only the `p` elements that are descendants of the `div` element 
should have a yellow background, red text,
 a font size of 20px, and center aligned.


 <div class="container">
      <p class="text">This should be styled.</p>
      <p class="text">This should be styled.</p>
    </div>
*/

.container .text {

    background-color: #ffff00;
    color: rgb(255, 0, 0);
    font-size: 20px;
    text-align: center;

}